* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-data{
    padding: 20px 70px;
    color:#fff;
    
}

.current-data{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.date-container{
    font-weight: 100;
}
.date-container .time{
    font-size: 70px;
}

.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date{
    font-size: 30px;
}

.topic-container{
    text-align: end;
}

.topic-container .topic{
    font-size: 30px;
    font-weight: 100;
}

.topic-container .country{
    font-size: 15px;
    font-weight: 700;
}


#weatherData {
    padding-top: 0px;
    width:90%;
    margin: 0 auto;
   }
   
   table{
     width:100%;
     
     table-layout: auto;
     background-image: linear-gradient( to bottom, rgba(0,0,0,0.3),
     rgba(0,0,0,0.6));
     border-radius: 16px 0px 16px 0px;
   }
   
   th{
     padding: 20px 15px;
     text-align: center;
     height: fit-content;
     max-height: 50px;
     font-weight: 600;
     font-size: 15px;
     color: #fff;
     border-radius: 16px 0px 16px 0px;
     border-bottom: 3px solid #DF8E00;
     background-color: rgba(155, 143, 143, 0.3);
   }
   td{
     padding: 15px;
     text-align: center;
     vertical-align:middle;
     font-weight: 500;
     font-size: 14px;
     color: #fff;
     border-bottom: solid 1px rgba(255,255,255,0.1);
   }
   


body {
    background:url('https://images.unsplash.com/photo-1621274403997-37aace184f49?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1');
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
